body {
	font: 18px sans-serif, helvetica;
	margin: 0;
	padding: 0;
	line-height: 22px;
	color: white;
	background-color: grey;
}

.main {
	width: 100%;
	max-width: 980px;
	margin: 50px auto 80px;
	padding: 0 10px;
}